@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #12aaff;
  --secondary: #0d2d54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --rt-color-white: #fff;
    --rt-color-dark: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.variables {
  background: var(--highlight);
}

.webkit-none {
  -webkit-appearance: none;
}

.h-table {
  height: 80%;
  max-height: 80%;
}

.h-filter {
  height: 70%;
}

.h-player-page-table {
  height: 25rem;
}

.h-team-table {
  height: 45rem;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  bottom: 0;
}

.container {
  padding: 1rem;
  margin: 1rem;
}

.table-scroll {
  /*width:100%; */
  display: block;
  empty-cells: show;

  /* Decoration */
  border-spacing: 0;
  border: 1px solid;
}

.table-scroll thead {
  position: relative;
  display: block;
  width: 100%;
  overflow-y: scroll;
}

.table-scroll tbody {
  /* Position */
  display: block;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  /* Decoration */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.table-scroll tr {
  width: 100%;
  display: flex;
}

.table-scroll td,
.table-scroll th {
  flex-basis: 100%;
  flex-grow: 2;
  display: block;
  padding: 1rem;
  text-align: left;
}

.table-scroll tbody tr:nth-child(2n) {
  background-color: rgba(130, 130, 170, 0.1);
}

.body-half-screen {
  max-height: 50vh;
}

.bg-highlight {
  background-color: var(--highlight);
}

.bg-secondary {
  background-color: var(--secondary);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 300px; /* Full width (cover the whole page) */
  height: 300px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.w-2\/3 {
  width: 66%;
}

.w-1\/3 {
  width: 33%;
}

.w-3\/5 {
  width: 60%;
}

.w-2\/5 {
  width: 40%;
}

.filter-select-content {
  position: absolute;
  z-index: 1;
}

.display-none {
  display: none;
}
